html {
    background-color: #ffffff;
    color: #444444;
    font-family: Avenir, Arial;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
    margin-left: 3rem;
    margin-right: 3rem;
}

p {

margin-top: 3rem;
margin-bottom: 3rem;
}

a {
text-decoration: none;
}

.site-header {
    background-color: none;
    margin-top: 50px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F1F1F1;
    color: white;
    font-size: 100px;
    font-weight: 500;
    line-height: 75px;
}

.logo a {
  color: #ffffff;
}

.logo .j {
    margin-left: 15px;
}
.logo .g {
    margin-left: 2px;
}

.icon {
  margin-right: 1.5rem;
  text-decoration: none;
}